

.loginContainer {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px 0;
}

.login_inner {
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 30px 30px 35px;
  width: 100%;
  box-sizing: border-box;
}

.login_inner h3 {
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.sub_header {
  font-size: 0.95rem;
  margin-top: 5px;
  margin-bottom: 15px;
}

a:link {
  text-decoration: none;
}

span a {
  color: #fe8402;
}

form {
  margin-top: 25px;
  text-align: left;
}

.from_input,
.error_input {
  position: relative;
  width: 100%;
}

.from_input input {
  outline: none;
  box-sizing: border-box;
  padding: 12px 40px 12px 15px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  border: 0.5px solid rgb(202, 202, 202);
  background-color: inherit;
  font-size: 0.95rem;
}

.error_input input {
  outline: none;
  box-sizing: border-box;
  padding: 12px 40px 12px 15px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #fee6e6;
  border: 0.5px solid rgb(202, 202, 202);
  font-size: 0.95rem;
}

.line {
  height: 3px;
  width: 0px;
  border-radius: 5px;
  background-color: rgb(218, 96, 96);
  display: block;
  transition: 0.9s width ease-in-out;
  position: relative;
  top: -2px;
  box-sizing: border-box;
}

.from_input input:focus + .line,
.error_input input:focus + .line {
  width: 100%;
  background-color: rgb(218, 96, 96);
  margin: 0px;
  padding: 0px;
}

.forget a {
  display: block;
  text-decoration: none;
  color: rgb(254, 132, 2);
  text-align: right;
  margin-top: 12px;
  font-size: 0.9rem;
}

.btn button {
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 25px;
  color: white;
  background-color: rgb(81, 108, 240);
  cursor: pointer;
}

.btn button:hover {
  background: #FE8402;
}

.password_toggle {
  position: absolute;
  top: 55%;
  right: 15px;
  font-size: 1.2rem;
  color: rgb(132, 132, 132);
  cursor: pointer;
}

.password_toggle:hover {
  color: rgb(218, 96, 96);
}

.password_toggle_error {
  position: absolute;
  top: 55%;
  right: 15px;
  font-size: 1.2rem;
  color: rgb(132, 132, 132);
  cursor: pointer;
}

.password_toggle_error:hover {
  color: rgb(218, 96, 96);
}

.server_error {
  color: #ff0000a9;
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}